<head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL9kCGzu4TIVuotYsHHHhFrCpIlT2y1I4"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <!-- for angular chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.css">

    <script>
        var mapApp = angular.module("mapApp", ["chart.js"]);
        mapApp.directive("myMaps", function () {
            return {
                restrict: 'E',
                template: '<div></div>',
                replace: true,
                link: function (scope, element, attrs) {
                    // SJSU coordinates
                    var countyCode= 085;  // SANTA CLARA
                    var myLatLng = new google.maps.LatLng(37.3352, -121.8811);
                    var minZoomLevel = 11;
                    var mapOptions = {
                        center: myLatLng,
                        zoom: minZoomLevel,
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL
                        },
                        mapTypeId: google.maps.MapTypeId.TERRAIN,
                        draggableCursor: 'crosshair',
                        draggingCursor: 'move'
                    };
                    var map = new google.maps.Map(document.getElementById(attrs.id), mapOptions);
                    var geocoder = new google.maps.Geocoder;
                    var infowindow = new google.maps.InfoWindow;

                    // Bounds for North America
                    // Constructs a rectangle from the points at its south-west and north-east corners.
                    var strictBounds = new google.maps.LatLngBounds(
                            new google.maps.LatLng(28.70, -127.50),
                            new google.maps.LatLng(48.85, -55.90)
                    );

                    // Put a marker on SJSU
                    var marker = new google.maps.Marker({
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        position: myLatLng
                    });

                    // default address
                    infowindow.setContent(" SJSU, San Jose, CA 95192");
                    infowindow.open(map, marker);

                    var circle = new google.maps.Circle({
                        map: map,
                        radius: 3*(1609.34),    // in metres
                        fillColor: '#00FF00',
                        strokeWeight: 1
                    });
                    circle.bindTo('center', marker, 'position');

                    // move the marker on click events
                    google.maps.event.addListener(map, 'click', function (event) {
                        marker.setPosition(event.latLng);
                        circle.setCenter(event.latLng);

                        // reverse geocode
                        geocoder.geocode({'location': event.latLng}, function(results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                if (results[1]) {
                                    infowindow.setContent(results[1].formatted_address);
                                    infowindow.open(map, marker);
                                } else {
                                    window.alert('No results found');
                                }
                            } else {
                                window.alert('Geocoder failed due to: ' + status);
                            }
                        });
                    });

                    // if the marker is dragged, reset the address
                    google.maps.event.addListener(marker, 'dragend', function() {

                        // reverse geocode
                        geocoder.geocode({'location': marker.getPosition()}, function(results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                if (results[1]) {
                                    infowindow.setContent(results[1].formatted_address);
                                } else {
                                    infowindow.setContent(marker.getPosition().toString())
                                }
                            } else {
                                window.alert('Geocoder failed due to: ' + status);
                            }
                        });
                    } );

                    // Listen for the dragend event
                    google.maps.event.addListener(map, 'dragend', function () {
                        if (strictBounds.contains(map.getCenter())) return;

                        // We're out of bounds - Move the map back within the bounds
                        var c = map.getCenter(),
                                x = c.lng(),
                                y = c.lat(),
                                maxX = strictBounds.getNorthEast().lng(),
                                maxY = strictBounds.getNorthEast().lat(),
                                minX = strictBounds.getSouthWest().lng(),
                                minY = strictBounds.getSouthWest().lat();

                        if (x < minX) x = minX;
                        if (x > maxX) x = maxX;
                        if (y < minY) y = minY;
                        if (y > maxY) y = maxY;

                        map.setCenter(new google.maps.LatLng(y, x));
                    });

//                    // Limit the zoom level
//                    google.maps.event.addListener(map, 'zoom_changed', function () {
//                        if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
//                    });
                }
            };
        });

        var produceData = [90, 80, 60, 20, 10] //replace with real data later
        //var produceName = [{name:'Potato'}, {name:'Tomato'}, {name:'Corn'}, {name:'Ginger'}, {name:'Grape'}] //replace with real data later
        var produce = [{name:'Potato',show:false, price:[[65, 59, 80, 81, 56, 55, 40]]},
            {name:'Tomato',show:false,price:[[65, 59, 80, 81, 56, 0, 40]]},
            {name:'Corn',show:false,price:[[65, 59, 80, 81, 56, 7, 40]]},
            {name:'Ginger',show:false,price:[[65, 2, 80, 81, 56, 55, 40]]},
            {name:'Grape',show:false,price:[[65, 59, 4, 81, 56, 55, 40]]}]

        //line chart for demo
        mapApp.controller("LineCtrl", function ($rootScope) {
            $rootScope.labelsLine = ["January", "February", "March", "April", "May", "June", "July"];
            $rootScope.datalines = produce;
           // $rootScope.dataline=[65, 59, 80, 81, 56, 55, 40];

            $rootScope.seriesLine = ['Series A', 'Series B'];
//          $rootScope.dataLine = [
//                [65, 59, 80, 81, 56, 55, 40],
//                [28, 48, 40, 19, 86, 27, 90],
//              [28, 48, 40, 19, 5, 27, 90],
//              [28, 48, 40, 19, 86, 5, 90],
//              [28, 48, 1, 19, 86, 27, 90]
//
//            ];
            $rootScope.dataLine=[[65, 59, 80, 81, 56, 55, 40]];

            $rootScope.aa =[];
//            $rootScope.onClick = function (points, evt) {
//                console.log(points, evt);
//            };
        });


        mapApp.controller("BarCtrl",['$rootScope', function ($rootScope) {
            $rootScope.producesBar = produce;
            $rootScope.labelsBar =['','','','','']; // To draw 5 bars
            $rootScope.dataBar = [produceData];
        }]);
    </script>

    <style>
        #map-canvas {
            height: 400px;
            width: 100%;
            /*border: 2px solid black;*/
        }

        .produceChart {
            height: 400px;
            width: 100%;
            padding-top: 10%;
            /*border: 2px solid black;*/
        }
        .produceChkbox {
            height: 400px;
            width: 100%;
            padding-bottom: 10%;
            /*border: 2px solid black;*/
        }

        .priceChart {
            margin-top: 10px;
            height: 300px;
            width: 100%;
            /*border: 2px solid black;*/
        }

        body {
            margin: 10px 10px 10px 10px;
        }

        .col-xs-15,
        .col-sm-15,
        .col-md-15,
        .col-lg-15 {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .col-xs-15 {
            width: 20%;
            float: left;
        }
        @media (min-width: 768px) {
            .col-sm-15 {
                width: 20%;
                float: left;
            }
        }
        @media (min-width: 992px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }
        @media (min-width: 1200px) {
            .col-lg-15 {
                width: 20%;
                float: left;
            }
        }


    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="california-logo" align="left">
                    <img src="images/california.jpg" height="82" width="82">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md text-center">
                    <h1>Smart Farm</h1>
                    <p><em>Team 3 project</em></p>
                </div>
            </div>

            <div class="col-md-3">
                <div id="usda-logo" align="right">
                    <img src="images/usda.jpg" height="82" width="82">
                </div>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md text-center">-->
        <!--<h1>Smart Farm</h1>-->
        <!--<p><em>Team 3 project</em></p>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</head>