<head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL9kCGzu4TIVuotYsHHHhFrCpIlT2y1I4"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <!-- for angular chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.css">

    <script>
        var mapApp = angular.module("mapApp", []);
        mapApp.directive("myMaps", function () {
            return {
                restrict: 'E',
                template: '<div></div>',
                replace: true,
                link: function (scope, element, attrs) {
                    // SJSU coordinates
                    var myLatLng = new google.maps.LatLng(37.3352, -121.8811);
                    var minZoomLevel= 10;
                    var mapOptions = {
                        center: myLatLng,
                        zoom: minZoomLevel,
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL
                        },
                        mapTypeId: google.maps.MapTypeId.TERRAIN,
                        draggableCursor:'crosshair',
                        draggingCursor: 'move'
                    };
                    var map = new google.maps.Map(document.getElementById(attrs.id), mapOptions);

                    // Bounds for California
                    // Constructs a rectangle from the points at its south-west and north-east corners.
                    var strictBounds = new google.maps.LatLngBounds(
                            new google.maps.LatLng(22.70, -120.00),
                            new google.maps.LatLng(40.00, -116.00)
                    );

                    // Put a marker on SJSU
                     var marker = new google.maps.Marker({
                        map: map,
                        draggable: true,
                        animation: google.maps.Animation.DROP,
                        position: myLatLng
                    });

                    var circle = new google.maps.Circle({
                        map: map,
                        radius: 8046.72,    // 10 miles in metres
                        fillColor: '#AA0000',
                        strokeColor: '#FF0000',
                        strokeWeight: 1
                    });
                    circle.bindTo('center', marker, 'position');

                    // move the marker on click events
                    google.maps.event.addListener(map, 'click', function(event) {
                        marker.setPosition(event.latLng);
                        circle.setCenter(event.latLng);
                    });

                    // Listen for the dragend event
                    google.maps.event.addListener(map, 'dragend', function() {
                        if (strictBounds.contains(map.getCenter())) return;

                        // We're out of bounds - Move the map back within the bounds
                        var c = map.getCenter(),
                                x = c.lng(),
                                y = c.lat(),
                                maxX = strictBounds.getNorthEast().lng(),
                                maxY = strictBounds.getNorthEast().lat(),
                                minX = strictBounds.getSouthWest().lng(),
                                minY = strictBounds.getSouthWest().lat();

                        if (x < minX) x = minX;
                        if (x > maxX) x = maxX;
                        if (y < minY) y = minY;
                        if (y > maxY) y = maxY;

                        map.setCenter(new google.maps.LatLng(y, x));
                    });

                    // Limit the zoom level
                    google.maps.event.addListener(map, 'zoom_changed', function() {
                        if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
                    });
                }
            };
        });

        var lineChart = angular.module("lineChart", ["chart.js"])
                .controller("LineCtrl", function ($scope) {
                    $scope.message = "hello";
                    $scope.labels = ["January", "February", "March", "April", "May", "June", "July"];
                    $scope.series = ['Series A', 'Series B'];
                    $scope.data = [
                        [65, 59, 80, 81, 56, 55, 40],
                        [28, 48, 40, 19, 86, 27, 90]
                    ];
                    $scope.onClick = function (points, evt) {
                        console.log(points, evt);
                    };
                });

        angular.element(document).ready(function() {
            angular.bootstrap(document.getElementById("lineChart"), ['lineChart']);
        });

    </script>

    <style>
        #map-canvas {
            height: 400px;
            width: 100%;
            border: 2px solid black;
        }
        .example {
            height: 400px;
            width: 100%;
            border: 2px solid black;
            background-color:gray;
        }
        .priceChart {
            margin-top:10px;
            height: 300px;
            width: 100%;
            border: 2px solid black;

        }
        body{
            margin:10px 10px 10px 10px;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="california-logo" align="left">
                    <img src="images/california.jpg" height="82" width="82">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md text-center">
                    <h1>Smart Farm</h1>
                    <p><em>Team 3 project</em></p>
                </div>
            </div>

            <div class="col-md-3" >
                <div id="usda-logo" align="right">
                    <img src="images/usda.jpg" height="82" width="82">
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md text-center">-->
                <!--<h1>Smart Farm</h1>-->
                <!--<p><em>Team 3 project</em></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</head>