<!DOCTYPE html>
<html ng-app="mapApp">
<%include header%>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">

            <div id="map-canvas">
                google map
                <my-maps id="map-canvas"></my-maps>
            </div>
        </div>
        <div class="col-md-5">
            <div class="example">
                chart</br>
                selected produces chart using chart.js
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md priceChart">
            price trend chart
        </div>
    </div>
</div>
</body>
</html>