<!DOCTYPE html>
<html ng-app="mapApp">
<% include header %>
<body >

<div class="container-fluid">
    <div class="jumbotron" style="background:transparent !important" >
    <div class="row">
        <div class="col-xs-5 col-md-5">
            <div id="map-canvas">
                google map
                <my-maps id="map-canvas"></my-maps>
            </div>
        </div>
        <div class="col-xs-7 col-md-7" ng-controller="BarCtrl" ng-hide="dataCtrlFlag">
            <div class="produceChart text-center" id="barChart">
                <label>Arces of harvest in the region</label>
                <canvas id="bar" class="chart chart-bar"
                        chart-data="dataBar" chart-labels="labelsBar" chart-series="series">
                </canvas>
            </div>
        </div>
    </div>
    <div class="row text-center" ng-controller="BarCtrl" ng-hide="barCtrlFlag">
        <div>
            <button ng-repeat="produce in producesBar" class="button" ng-click="selectChart($index)"> {{ produce.name }}</button>
       </div>

        <div class="col-md-12 col-sm-12 text-center" >

            <div  ng-show="selected" id="lineChart">
                <label>Price trend of {{name}}</label>
                <br>
                <label> measured in {{unit}}</label>
                <canvas class="chart chart-line priceChart" chart-data="dataLine"
                        chart-labels="year" chart-legend="false" chart-series="name"
                        chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>