<!DOCTYPE html>
<html ng-app="mapApp">
<% include header %>
<body>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7 col-md-7">
            <div id="map-canvas">
                google map
                <my-maps id="map-canvas"></my-maps>
            </div>
        </div>
        <div class="col-xs-5 col-md-5" ng-controller="BarCtrl">
            <div class="produceChart" id="barChart">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="dataBar" chart-labels="labelsBar" chart-series="series">
                </canvas>
            </div>
            <div class="productChart">
                <span ng-repeat="produce in producesBar"><input id="{{produce.name}}" type="checkbox"
                                                                    ng-model="produce.show">{{ produce.name }}</span>

            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-15 col-sm-3" ng-repeat="produce in producesBar" ng-show="produce.show">
            <div>{{produce.name}} price trend</div>
            <div ng-controller="LineCtrl" id="lineChart">
                <canvas class="chart chart-line priceChart" chart-data="produce.price"
                        chart-labels="labelsLine" chart-legend="false" chart-series="produce.name"
                        chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>
</div>
</body>
</html>